{% extends "layout.html" %}

{% block title %}
    {{ last_name }} Emergency Contacts
{% endblock %}

{% block main %}

    <h1 class="mb-4">{{ last_name }} Emergency Contacts</h1>
    <p class="lead no-print">You can't count on your phone working should an emergency strike. Enter contact information for anyone you might need to reach in an emergency. Keep a printout in a safe place where you can easily reach it.</p>
    <div class="table-responsive">
        <table class="table table-primary table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th class="no-print" scope="col"></th>
                    <th class="no-print" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for result in results %}
                    <tr>
                        <td>{{ result.first_name }}</td>
                        <td>{{ result.last_name }}</td>
                        <td>{{ result.phone }}</td>
                        <td>{{ result.email }}</td>
                        <td>{{ result.address }}</td>
                        <td class="no-print">
                            <button class="btn btn-info btn-edit" data-bs-toggle="modal" data-bs-target="#editModal" data-id="{{ result.id }}" data-first-name="{{ result.first_name }}" data-last-name="{{ result.last_name}}" data-phone="{{ result.phone }}" data-email="{{ result.email }}" data-address="{{ result.address }}">Edit</button>
                        </td>
                        <td class="no-print">
                            <form class="form-delete" action="/delete_contact" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="person_id" value="{{ result.id }}">
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-info mb-4 no-print btn-print">Print</button>

    <div class="no-print">
        <form class="p-2 border border-info w-auto rounded d-inline-block" action="/new_contact" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <h5>New Contact</h5>
            <div class="form-group row">
                <div class="col-auto">
                    <label class="form-label" for="first_name">First Name: </label>
                    <input class="form-control" id="first_name" name="first_name" type="text" placeholder="First Name">
                </div>
                <div class="col-auto">
                    <label class="form-label" for="last_name">Last Name: </label>
                    <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label for="phone" class="form-label">Phone Number: </label>
                    <input class="form-control" id="phone" type="tel" name="phone" placeholder="555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                </div>
                <div class="col-auto">
                    <label class="form-label" for="email">Email: </label>
                    <input class="form-control" id="email" type="email" name="email" placeholder="johndoe@email.com">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="address">Address: </label>
                    <input id="address" class="address form-control" name="address" type="text" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" id="save">Add Contact</button>
        </form>
    </div>

<!-- Edit Modal -->
    <div id="editModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title">Edit Contact</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form action="/edit_contact" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="edit">
                        <input type="hidden" name="person_id" id="editPerson_id">
                        <div class="form-group row">
                            <div class="col-auto">
                                <label class="form-label" for="editFirst_name">First Name: </label>
                                <input class="form-control" type="text" name="first_name" id="editFirst_name">
                            </div>
                            <div class="col-auto">
                                <label class="form-label" for="editLast_name">Last Name: </label>
                                <input class="form-control" type="text" name="last_name" id="editLast_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-auto">
                                <label class="form-label" for="editPhone">Phone: </label>
                                <input class="form-control" type="text" name="phone" id="editPhone">
                            </div>
                            <div class="col-auto">
                                <label class="form-label" for="editEmail">Email: </label>
                                <input class="form-control" type="text" name="email" id="editEmail">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="form-label" for="editAddress">Address: </label>
                                <input class="form-control" type="text" name="address" id="editAddress">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary mt-2" type="submit" value="Save">Save</button>
                        <button class="btn" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/contacts.js') }}"></script>
    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/print.js') }}"></script>


<!-- Load Google Maps Javascript API -->
    <div id="api-key" data-key="{{ api_key }}"></div>
    <script nonce="{{ nonce }}" data-nonce="{{ nonce }}" src="{{ url_for('static', filename='js/mapsApi.js') }}"></script>

<!-- Load address javascript -->
    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/initAddress.js') }}"></script>

{% endblock %}
