{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h1>Ready, Set, Prep!</h1>

    <p class="lead">The <a target="_blank" href="https://www.ready.gov/">United States federal government</a> and the <a target="_blank" href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/make-a-plan.html">American Red Cross</a> both recommend that individuals and families be prepared in case of an emergency. Emergency preparedness can take many forms, but we're here to help you with the more practical aspects, such as what supplies to have on hand and how to stay in touch with friends and family should the worst happen.</p>

    <div id="index">
        <ul class="list-group">
            <li class="list-group-item">
                <p>
                    <a href="/family">Your Household</a>: To help us help you, first you'll need to enter some basic information about your household makeup (e.g. how many people, the state you live in, etc.).
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/tasks">To-Do List</a>: With the information you've provided, we can begin to help you design a list of steps to prepare yourself and your loved ones for many types of emergencies.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/buildgobag">Go-Bag</a>: One of the items in your to-do list will be to pack a go-bag in case you need to leave your home or work suddenly. Once we've helped you decide what should go in it, you can check off items as you <a href="/bogbag">fill your go-bag</a>.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/shelter">Shelter-in-Place</a>: Another task is to stock your home with supplies in case you must shelter in place during an emergency. Once you've selected the items you'd like to stock, you can <a href="/stockshelter">check them off your list</a> as you acquire them.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/medical">Medical Info</a>: You should always have on hand important medical information about everyone in your household in case of an emergency. We'll store that information for you and provide a printable list to keep in your go-bag.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/contacts">Emergency Contacts</a>: Similarly, you should keep a list of emergency contacts. Print them out to store in your car as well as your home in case you don't have internet access or your phone.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/evacuation">Meet-Up Locations</a>: Have a plan in place as to where to meet up with your family should you become separated. We'll help you make a printable list of addresses, as well as visualize the locations on a map.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/routines">Routine Schedules</a>: Know your family's routine schedules. If in an emergency you don't have your phone to contact them, you should know the addresses of the places they visit on a routine basis.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <a href="/uploads">Secure Documents</a>: Finally, it's a good idea to make copies of important documents, such as your passport, license, and insurance information. Keep printouts of these documents in a secure location where they can be easily reached. You can also upload them here for safekeeping until you need another copy.
                </p>
            </li>
        </ul>
    </div>


{% endblock %}
