{% extends "layout.html" %}

{% block title %}
    Your Suggested Shelter-in-Place Supplies
{% endblock %}

{% block main %}
    <h1>Design Your Shelter-in-Place Kit</h1>
    <p class="lead">We've selected some emergencies based on what the <a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/common-natural-disasters-across-us.html">American Red Cross</a> suggests is most likely in your region, but feel free to customize based on situations you believe you're most likely to face. Toggling a disaster will toggle or untoggle the associated supplies. Even if an item is not suggested based on the type of disaster, you may add it to your shelter-in-place checklist by toggling it independently of any disaster. Once you've selected all the supplies you'd like to include, submit the form to see your personalized list of items to stock.</p>

<!-- Checkboxes for situations you'd like to be prepared for -->
    <h3 class="my-3">Possible Disaster Types</h3>
    <div class="row row-cols-md-3 row-cols-lg-4 row-gap-1">
        {% for sit, sit_info in sits.items() %}
            <div class="form-check form-switch col-auto">
                <input class="form-check-input disaster" type="checkbox" id="{{ sit }}" {% if sit_info['checked'] %}checked{% endif %} data-supplies="{{ sit_info['items']|join(', ')}}">
                <label class="form-check-label" for="{{ sit }}">{{ sit|replace("_", " ") }}</label>
            </div>
        {% endfor %}
    </div>

<!-- Checklist generated based on family information with option to add or delete items. Should also let you print or email. -->
    <h3 class="my-3">Suggested Shelter-in-Place Supplies</h3>
    <form action="/postshelter" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row row-cols-md-3 row-cols-lg-4 row-gap-1 mb-3">
            {% for supply in supplies %}
                <div class="col-auto form-check form-switch">
                    <input class="form-check-input supply" type="checkbox" value="{{ supply }}" name="supply" id="{{ supply }}">
                    <label class="form-check-label" for="{{ supply }}">{{ supply|replace("_", " ") }}</label>
                </div>
            {% endfor %}
        </div>
        <p class="text-danger">Caution! If you've already started working on a previous list of items to stock for sheltering in place, clicking "Save" will clear all your progress.</p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/disasterSupplies.js') }}"></script>
{% endblock %}
